@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Kanit:ital,wght@0,300;0,400;1,200;1,300&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,900;1,900&display=swap");

.s-divider {
  margin: auto;
  margin-top: 40px;
  position: relative;
  overflow: hidden;
  height: 20px;
}

.s-divider:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 10px white;
}

.navbar {
  width: 100%;
  height: 52px;
  max-width: 1440px;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
}

.topnav {
  display: flex;
  width: 100%;
  max-width: 1000px;
  font-family: "Cantarell", sans-serif;
  flex-direction: row;
  justify-content: space-around;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: white;
  color: black;
  transform: scale(1.05);
  border-radius: 40px;
  font-family: "Cantarell", sans-serif;
}

.front-name {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.front-name .name-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin-left: 50px;
  margin-right: 50px;
}

.front-name .name-container .parallelogram {
  width: 100%;
  max-width: 700px;
  height: 8px;
  -webkit-transform: skew(85deg);
  background: linear-gradient(190deg, #2a8aff, #b53fff);
  margin-left: 45px;
  margin-right: 65px;
}

.front-name .name-container .name1 {
  text-align: start;
  height: 100px;
  line-height: 100px;
  width: 100%;
}
.front-name .name-container .name2 {
  text-align: end;
  height: 120px;
  line-height: 120px;
  width: 100%;
}

.front-name .name-container p {
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
  font-family: "Prompt", sans-serif;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 120px;
  margin: 0;
  text-size-adjust: auto;
}

.front-name .name-container .name2 p {
  font-style: italic;
  text-shadow: 0 0 #00162d, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

html {
  scroll-padding-top: 65px;
}

body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #00162d;
}

h2 {
  font-size: 35px;
  color: #f2f2f2;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 0;
}

.aboutMe {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.aboutMe .box .about h2 {
  text-align: start;
}

.aboutMe .box {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.aboutMe .box .about {
  height: 500px;
  width: 500px;
  margin-left: 15px;
  margin-right: 15px;
  height: auto;
}

.aboutMe .box .about p {
  color: white;
  text-align: start;
  font-size: 2.125rem;
  line-height: 2.5rem;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
}

.aboutMe .box .about .about-image {
  display: flex;
  justify-content: right;
  margin-top: 80px;
  margin-right: 50px;
}

.aboutMe .box .about .about-image img {
  overflow: hidden;
  max-width: 280px;
}

.box .project {
  background: linear-gradient(130deg, #2a8aff, #b53fff);
  height: 150px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 70px 35px;
  z-index: auto;
  color: white;
}

.projects {
  height: auto;
}

.projects h2 {
  text-align: center;
}

.project .button_proj {
  height: 50px;
  width: 260px;
  position: absolute;
  bottom: -25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project .button_proj .button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: white;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.project .button_proj .button:active {
  box-shadow: #acacba 2px 3px 7px inset;
  transform: translateY(3px);
}

.project p {
  text-align: center;
  margin: 0 15px;
  line-height: 1.3;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}

.prj_img {
  width: 280px;
  height: 120px;
  background-color: azure;
  position: absolute;
  top: -90px;
  border: solid 1px whitesmoke;
  border-radius: 5px;
  transition: transform 0.45s ease-in-out;
}

.prj_img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 5px;
}

.project .prj_img:hover {
  transform: scale(1.3, 1.3);
  z-index: 2;
}

.projects .box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#skills {
  margin: 0px 30px 30px 30px;
}

.skills_img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.skills_img img {
  width: 12%;
  filter: drop-shadow(0 0 12px #96d7ff) drop-shadow(0 0 3.5px #96d7ff);
  min-width: 79px;
  margin: 0 8px;
}

.s-divider img {
  position: absolute;
  margin: 4px;
  max-width: 60px;
  border-radius: 100%;
  border: 1px dashed #aaa;
}

.contactField {
  width: 100%;
  max-width: 1000px;
  height: 200px;
  display: table;
}

.contactField p {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  color: whitesmoke;
  letter-spacing: 0.25px;
}

.main-social-container .social-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-social-container .social-box .social {
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 94% 25%, 94% 75%, 50% 100%, 7% 75%, 7% 25%);
}

.main-social-container .social-box .social img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(190deg, #2a8aff, #b53fff);
}

@media only screen and (max-width: 800px) {
  .aboutMe .box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .aboutMe .box .about .about-image img {
    margin-right: 30px;
  }

  .topnav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .aboutMe .box .about .about-image {
    display: flex;
    justify-content: right;
    margin-top: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 860px) {
  .front-name .name-container {
    max-width: 860px;
  }

  .front-name .name-container p {
    font-size: 6.25rem;
  }
  .front-name .name-container .name1 {
    text-align: left;
    height: 90px;
  }
  .front-name .name-container .name2 {
    text-align: right;
    height: 100px;
    line-height: 100px;
  }

  .front-name .name-container .parallelogram {
    max-width: 600px;
    margin-left: 45px;
  }
}

@media only screen and (max-width: 750px) {
  .front-name .name-container {
    max-width: 750px;
  }

  .front-name .name-container .parallelogram {
    max-width: 500px;
    margin-left: 45px;
  }
}

@media only screen and (max-width: 650px) {
  .front-name .name-container {
    max-width: 650px;
  }

  .front-name .name-container p {
    font-size: 4.25rem;
  }
  .front-name .name-container .name1 {
    text-align: left;
    height: 80px;
  }
  .front-name .name-container .name2 {
    text-align: right;
    height: 100px;
    line-height: 70px;
  }

  .front-name .name-container .parallelogram {
    max-width: 400px;
    margin-left: 45px;
  }
}

@media only screen and (max-width: 650px) {
  .front-name .name-container {
    max-width: 650px;
  }

  .front-name .name-container p {
    font-size: 4.25rem;
  }
  .front-name .name-container .name1 {
    text-align: left;
    height: 80px;
  }
  .front-name .name-container .name2 {
    text-align: right;
    height: 100px;
    line-height: 70px;
  }

  .front-name .name-container .parallelogram {
    max-width: 400px;
    margin-left: 45px;
  }
}

@media only screen and (max-width: 545px) {
  .front-name .name-container {
    max-width: 650px;
    transform: rotate(35deg);
    margin-left: 10px;
    margin-right: 20px;
  }

  .front-name .name-container p {
    font-size: 4.25rem;
  }
  .front-name .name-container .name1 {
    text-align: left;
    height: 80px;
  }
  .front-name .name-container .name2 {
    text-align: right;
    height: 100px;
    line-height: 70px;
  }

  .front-name .name-container .parallelogram {
    max-width: 300px;
    margin-left: 45px;
  }

  .aboutMe .box .about {
    max-width: 545px;
  }
}

@media only screen and (max-width: 545px) {
  .aboutMe .box .about {
    max-width: 500px;
  }
}

@media only screen and (max-width: 414px) {
  .aboutMe .box .about {
    max-width: 405px;
  }
}

@media only screen and (max-width: 390px) {
  .aboutMe .box .about {
    max-width: 370px;
  }
}
